@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
  background-color: #060C10;
}
.App {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #585950;
}
::-webkit-scrollbar-thumb {
  background: #181529;
}
::-webkit-scrollbar-thumb:hover {
  background: #151224;
}