
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.container {
    margin: 40px 50px;
    display: flex;
    align-items: center;    
    flex-wrap: wrap;
    justify-content: center;
  }
  .foto {
    justify-content: center;
    margin: 30px 60px 50px 60px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
  .foto > .name{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    height: 50px;
    margin: -54px 0 0 0;
    color: #fff;
    background-color: rgb(34, 34, 34);
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-radius: 10px 10px 0 0;
  }
  .foto > img {
    object-fit: none;
    width: 300px;
  }
  .foto:hover{
    scale: 1.1;
  } 
  .foto > .name:hover{
    background-color: gray;
  }